/* Custom font styling */

p {
	font-family: 'Roboto Slab', serif;
	font-size:.95em;
	/*line-height: 200%;*/
	/*margin-bottom:1.75em;*/
}

h1, h2, h3, h4, h4, h5 {
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-highlight: none;
	-webkit-hyphenate-character: auto;
}

h5 {
	font-size: .8em;
	text-align:justify;
}

.panel h5 {
	line-height: 1.4;
}

body, html {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Roboto Slab', serif;
	-webkit-font-smoothing: antialiased;
	background: #f6f6f6 url(../assets/noise_f6f6f6.png) repeat top left;
}

.padded p, ol{
	padding: 0em 10em;
}

.padded h3 {
	padding: 0em 5em;
}

.clearpad ol {
	padding: 0em 0em !important;
}

.caption {
	font-size: .7em;
	font-style: italic;
}

.panel {
	text-align: center;
	background-color: rgba(255,255,255,0.5);
}

.byline {
	text-align: center;
	color: white;
	text-shadow: 0 4px 6px #000;
	/*position: absolute;*/
	top: 70%;
}

.textwhite {
	color: white;
	font-size:5vw;
	text-shadow: 0 4px 6px #000;
}

.coverwhite {
	color: white;
	text-shadow: 0 4px 6px #000;
	text-align:center;
	font-size:10vw;
	position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	  display:table;
	  width:100%;
}

.textpos {
	text-align:center;
	padding:15%;
	position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	  display:table;
	  width:100%;
}

.intro h5{
	text-align: justify;
	line-height: 50px;
}

.bigphoto {
	/*max-width:100% !important;*/
	margin-top:0px !important;
	padding-top:0px !important;
	/*height:100vh;*/
}

.adphoto {
	max-width:100% !important;
	margin-top:0px !important;
	padding-top:0px !important;
	height:70vh;
}

/* Modifying Foundation classes */

.row {
	max-width: 70%;
	padding-top:.5em;
	background: #f6f6f6 url(../assets/img/noise_f6f6f6.png) repeat top left;
}

.shadow {
	box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4);
	border: solid 1px gray;
	margin: 10px auto;
}

.top-bar {
	background: rgba(0,0,0,0.7);
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: none ; 
}

.top-bar-section ul li {
	background: none ; 
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
	color: white;
	background: #333333 !important;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button):hover {
	background-color: #21c5ed !important;
	background: #21c5ed !important; 
}

.top-bar-section ul li.active > a:hover {
	color: #303030 !important; 
	background:#21c5ed !important; 
}

.top-bar-section li a:not(.button):hover { 
	color: white; 
	background:#22C0E8 !important; 
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	background: rgba(0,0,0,0.7);
}

.side {
	border: solid 1px;
	border-color:#d8d8d8;
	position:fixed;
	left:10px;
	top:10%;
	text-align:left;
	z-index:99;
	.button {
		margin: 0;
	}
}

.custompan {
	padding:.25rem;
}


.fixed-custom{
	position:fixed;
	z-index: 99;
	width:100%;
}

/* Modifying masthead */

.site-nav-logo-link img {
	height:40px;
}

ul {
    list-style-type: none;
}

/* Skrollr Test */


.adslide {
	background: url(../assets/desktopbg.jpg) no-repeat fixed;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-position:0% 50%;
	background-size:95vw;
}

#adid {
  top:0;
  left:0;
  height:100%;
  background:url(../assets/desktopbg.jpg) repeat 0 0;
  background-size: 100%;
  background-repeat:no-repeat;
}

#skrollr-body {
	overflow:visible;
	position:relative;
}

.mobilephoto {
	max-width:100% !important;
	margin-top:0px !important;
	padding-top:0px !important;
}

@media only screen and (min-width: 40.063em) and (max-width: 80em) { 

	.row {
		max-width: 95%;
	}

	.columns {
		/*margin-left:-10%;*/
		/*width:120%;*/
	}
	
	.padded p, ol {
		padding: 0em 3em;
	}

	.padded h3 {
		padding: 0em 1em;
	}

	.textwhite {
		font-size:7vw;
	}

	.coverwhite {
		font-size:12vw;
	}

}

@media only screen and (max-width: 40em) { 
	
	.row {
		max-width:95%;
	}

	.columns {
		/*margin-left:-10%;*/
		/*width:120%;*/
	}
	
	.padded p, ol {
		padding: 0em 0em !important;
	}

	.padded h3 {
		padding: 0em 0em !important;
	}

	.top-bar-section ul li {
		background: #333333 !important ; 
	}

	.textwhite {
		font-size:9vw;
	}

	.coverwhite {
		font-size:16vw;
	}

	
}

.h2mod {
	font-size:1em;
}
